section.timeline
	.timelinebox
		.timeblock1
			.timelineyear
				p 2002
			.timelinesubinfo
				p Softintegrity was founded
			.timelineinfo
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quas id et suscipit. Aut repellendus odio est pariatur incidunt quibusdam, sint libero unde nam suscipit explicabo vero iste veritatis perspiciatis, ex natus sapiente! Autem, nisi cupiditate cum ea obcaecati distinctio?
		.timeblock2
			.timelineyear
				p 2005
			.timelinesubinfo
				p Softintegrity completed serving 100 clients
			.timelineinfo
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque vitae inventore assumenda dolorum rem maiores saepe a quasi eos earum ratione, perferendis non doloribus, ipsum. Quidem sunt repudiandae, sint totam fugiat nihil eius omnis ducimus numquam nostrum iusto velit fuga voluptatum. Fugiat recusandae sint nam, dolor temporibus? Aliquam modi, error!
		.timeblock3
			.timelineyear
				p 2007
			.timelinesubinfo
				p Softintergrity partnered with Godrej
			.timelineinfo
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita nulla corporis alias, inventore dicta adipisci eaque dolorem repellendus, fugit voluptatem maiores obcaecati eveniet ex error, natus aliquam praesentium quia ab vero autem quod! Illum eius nulla odio, deserunt, suscipit doloribus.
		.timeblock4
			.timelineyear
				p 2010
			.timelinesubinfo
				p Softintegrity made 60 International Clients
			.timelineinfo 
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur excepturi accusantium vel repellendus quam distinctio earum. Voluptatem repellendus consectetur animi sunt impedit, ducimus hic minus rem recusandae maiores. Sit voluptas incidunt provident, quo odit. Incidunt accusamus, corporis delectus quae voluptas nostrum unde ullam obcaecati aliquam, nesciunt magni asperiores animi, culpa.