section.projects
	p(class='info') We Feel Proud to work on the assignments which are leaders in their domain
	hr
	.projectbar
		.block1
			i(class='fa fa-bitbucket')
			h3 Bit Bucket
			p.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum officia tenetur explicabo illum fuga aspernatur quod omnis repellendus voluptas rem.
		.block2
			i(class='fa fa-500px')
			h3 500 Px
			p.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum officia tenetur explicabo illum fuga aspernatur quod omnis repellendus voluptas rem.
		.block3
			i(class='fa fa-gg-circle')
			h3 GG Circle
			p.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum officia tenetur explicabo illum fuga aspernatur quod omnis repellendus voluptas rem.
		.block4
			i(class='fa fa-glide-g')
			h3 Glide
			p.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum officia tenetur explicabo illum fuga aspernatur quod omnis repellendus voluptas rem.
		.block5
			i(class='fa fa-lastfm-square')
			h3 Lastfm
			p.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum officia tenetur explicabo illum fuga aspernatur quod omnis repellendus voluptas rem.
		.block6
			i(class='fa fa-qq')
			h3 QQ
			p.desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum officia tenetur explicabo illum fuga aspernatur quod omnis repellendus voluptas rem.
