$maxwidth: 100%;
$maxheight: 100%;
$bgurl: '../assets/rhino_bg.jpg';
$lato : 'Lato', sans-serif;
$mari : 'Merriweather', serif;
$arvo : 'Arvo', serif;

// Max Screen Capture
html,
body,
#page-wrap {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

section#spotlight {
    min-width: $maxwidth;
    min-height: $maxheight;
    width: 100%;
    height: 100%;
    background: url($bgurl);
    background-position: center;
    position: relative;
    transition: all .1s ease-in-out;
    .spotight__menu {
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        .spotlight__menu__trigger {
            cursor: pointer;
            span {
                width: 25px;
                height: 4px;
                background: #5e5e5e;
                display: block;
                margin-top: 2px;
                transition: all .5s ease;
                position: relative;
                &:before {
                    content: "";
                    width: 0;
                    height: 4px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: all .5s ease;
                    background: #ff5722;
                }
            }
            &:hover span:before {
                width: 100%;
            }
        }
        .spotlight__menu__events {
            .item {
                display: inline-flex;
                align-items: center;
                flex-wrap: wrap;
                margin-left: 10px;
                font-family: $mari;
                .item__head {
                    border-radius: 2px;
                    background: #e91e63;
                    padding: 5px;
                    color: #f1f1f1;
                    font-size: 2em;
                    text-align: center;
                }
                .item__content {
                    padding: 10px;
                    background: #f1f1f1;

                    P {
                        margin: 0;
                    }
                }
                .item__footer {
                    padding: 10px;
                    background: #f5f4f5;
                    a {
                        color: #e91e63;
                        text-transform: uppercase;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    .spotlight__content {
        max-width: 960px;
        width: 100%;
        margin: 5% auto;
        h1 {
            font-size: 5em;
            color: #f9f9f9;
            font-weight: 700;
            padding-right: 10%;
            text-transform: uppercase;
            font-family: $arvo;
            text-shadow: 2px 1px 3px rgba(0,0,0,.4);
        }
    }
}
