mixin ContentInjectSpotlight(main,sub,link, linkTitle)
	p= main
	p= sub
	a(href= link)= linkTitle

section#spotlight
	link(rel='stylesheet' , href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
	.spotight__menu
		.spotlight__menu__trigger
			span
			span
			span
		.spotlight__menu__events
			.item
				.item__head
					span 20
				.item__content
					p Skype Meetup
				.item__footer
					a(href='#')
						i(class='fa fa-paper-plane')
			.item
				.item__head
					span 14
				.item__content
					p Class Meetup
				.item__footer
					a(href='#')
						i(class='fa fa-paper-plane')
	.spotlight__content
		h1 we transform your dreams into digital reality
	.spotlight__footer