section.subscribe
	h1 Subsribe us
	p For most of tech we do
	p Experience tech blogs from the best expertise to understand the concepts
	.form-group
		input(type="text",class="form-control",placeholder="Email Address")
		button(class="btn btn-danger") Subscribe&nbsp;
			i(class="fa fa-paper-plane") 
