$lato: 'Lato',
sans-serif;
$mari: 'Merriweather',
serif;
$container_maxwidth: 1200px;
$flatred: #e74c3c;
$softgrey: #dedbdb;
$dullwhite: #f9f9f9;
$white: #fff;
$carbon: #333;
.highlightblock {
    max-width: $container_maxwidth;
    margin: 20px auto;
    .info {
        font-family: $mari;
        font-size: 2em;
        padding-right: 50%;
        font-weight: bold;
        span {
            padding: 5px;
            background: $flatred;
            color: white;
        }
    }
    hr{
        border-top:1px solid #e3e3e3;
    }
    .activeState {
        transition: all .2s ease;
        box-shadow: 12px 9px 31px rgba(0, 0, 0, .5);
        -webkit-filter: blur(0px) !important;
    }
    .deactiveState {
        -webkit-filter: blur(2px);
    }
    .active_hover {
        transition: all .4s ease;
        transform: translateX(20px);
         &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    left: 0;
                    display: block;
                    background: $flatred;
                    transition: all .4s ease;
                }

    }
    .highlighter {
        padding: 5px;
        background: $flatred;
        color: white;
    }
    .showcase {
        display: flex;
        margin-top: 30px;
        flex: 1;
        align-items: center;
        .showcase_names {
            width: 30%;
            border-right: 2px solid #d8d8d8;
            padding-right: 30px;
            ul {
                padding: 0;
                list-style-type: none;
                li {}
            }
            p {
                font-family: $mari;
                font-size: 18px;
                cursor: pointer;
                transition: all .4s ease;
                position: relative;
                display: inline-block;
                margin: 10px 0px;
            }
        }
        .showcase_images {
            width: 70%;
            padding: 0px 20px;
            font-family: $mari;
            .intro h2 {
                text-align: center;
                line-height: 45px;
                span {
                    padding: 5px;
                    background: $flatred;
                    color: white;
                }
            }
            >div h2 {
                text-align: left;
                font-size: 2.5em;
            }
            .next,.prev{
                padding: 7px ;
        background: $flatred;
        color:#fff;
            }
            >div {
                p {
                    font-size: 18px;
                }
                a {
                    display: inline-block;
                    transition: all .4s ease-in-out;
                    &:hover {
                        transform: translateX(10px);
                        color: $flatred;
                    }
                }
            }
        }
    }
}
